@page "/ConsultaCategoiras"
@using ProyectoFinal_PA2.DAL;
<CascadingAuthenticationState>
    <AuthorizeView>
        <NotAuthorized>
            <div class="card text-center">
                <div class="card-header">
                    No Autorizado
                </div>
                <div class="card-body">
                    <h5 class="card-title">Atención</h5>
                    <p>Debe iniciar sesion para poder acceder a estas opciones</p>
                    <a href="MenuConsultas" class="btn btn-primary">Ir al Menú</a>
                </div>
            </div>
        </NotAuthorized>

        <Authorized>
            @if (!TipoUsuario)
            {
                <div class="card text-center">
                    <div class="card-header">
                        No Autorizado
                    </div>
                    <div class="card-body">
                        <h5>Atención</h5>
                        <p>Debe tener acceso de administrador para poder acceder a estas opciones.</p>
                        <a href="MenuConsultas" class="btn btn-primary">Volver al Menú anterior</a>
                    </div>
                </div>
            }
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>


@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated && TipoUsuario)
{
    <h3>Consulta Categorias</h3>
    <div class="row">
        <div class="col-1">
            <label>Filtro</label>
        </div>

        <div class="col-sm">
            <select @bind="opcion" class="form-control">

                <option value="0">Todo</option>
                <option value="1">Categoria Id</option>
                <option value="2">Nombre Categoria</option>
            </select>
        </div>

        <div class="col-1">
            <label>Criterio</label>
        </div>

        <div class="col">
            <input type="text" @bind="criterio" class="form-control" />
        </div>

        <div class="col-lg">
            <button class="btn btn-primary" @onclick="MostrarDatos">Consultar</button>
        </div>
    </div>

    @if (lista == null)
    {
        <h3>No existen usuarios en la base de datos</h3>
    }
    else
    {
        <table class="table table-dark" style="margin-top: 5px;">
            <thead>
                <tr>
                    <th>Categoria Id</th>
                    <th>Nombre Categoria</th>
                    <th>Usuario Id</th>
                    <th>Fecha de Ingreso</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var list in lista)
                {
                    <tr>
                        <td>@list.CategoriaId</td>
                        <td>@list.NombreCategoria</td>
                        <td>@list.UsuariosId</td>
                        <td>@list.FechaIngreso</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <nav aria-label="...">
        <ul class="pagination pagination-lg">

            <li class="page-item Azul"><a class="page-link Azul" @onclick="Anterior"> « </a></li>
            @for (int i = 1; i <= totaldepaginas; i++)
            {
                <li class="page-item Azul"><a class="page-link Azul" @onclick="OnInitialized" href="ConsultaCategorias/@i">@i</a></li>
            }
            <li class="page-item Azul"><a class="page-link Azul" @onclick="Saltar"> » </a></li>
        </ul>
    </nav>
}

@code {

    List<Categorias> lista = new List<Categorias>();
    private string opcion = "0";
    private string criterio = "";
    private bool TipoUsuario;

    @*Paginado*@
public int I { get; set; }
double conteo = 0;
double totaldepaginas = 0;
Paginando paginacion = new Paginando();
Contexto contexto = new Contexto();
public int Contador { get; set; }


    protected override void OnInitialized()
    {
        lista = CategoriasBLL.GetList(x => true);
        TipoUsuario = GetAuthorization();
        conteo = contexto.Categorias.Count();
        totaldepaginas = Math.Ceiling(conteo / paginacion.CantidadMostrar);
        this.lista = contexto.Categorias.Take(paginacion.CantidadMostrar).ToList();
    }

    private void Anterior()
    {
        Contador -= paginacion.Pagina;
        if (Contador <= totaldepaginas)
        {
            Contador = 0;
        }

        lista = contexto.Categorias
        .Skip(Contador * paginacion.CantidadMostrar)
        .Take(paginacion.CantidadMostrar)
        .ToList();
    }

    private void Saltar()
    {
        Contador += paginacion.Pagina;
        if (Contador >= totaldepaginas)
        {
            Contador = 0;
        }

        lista = contexto.Categorias
        .Skip(Contador * paginacion.CantidadMostrar)
        .Take(paginacion.CantidadMostrar)
        .ToList();
    }

    private void MostrarDatos()
    {
        int elegido = Convert.ToInt32(opcion);

        if (criterio.Trim().Length > 0 && criterio != "")
        {
            switch (elegido)
            {
                case 0:
                    {
                        lista = CategoriasBLL.GetList(x => true);
                    }
                    break;

                case 1:
                    {
                        int id;
                        id = Convert.ToInt32(criterio);
                        lista = CategoriasBLL.GetList(x => x.CategoriaId == id);
                    }
                    break;

                case 2:
                    {
                        lista = CategoriasBLL.GetList(x => x.NombreCategoria == criterio);
                    }
                    break;
            }
        }
        else if (criterio == "")
        {
            lista = CategoriasBLL.GetList(x => true);
        }
        else
        {
            lista = CategoriasBLL.GetList(x => true);
        }
    }

    private bool GetAuthorization()
    {
        bool acceso;

        if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.IsInRole("Administrador")
            || AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.IsInRole("Empleado"))
            acceso = true;
        else
            acceso = false;

        return acceso;
    }

}