@page "/ConsultaVentas"

<CascadingAuthenticationState>
    <AuthorizeView>
        <NotAuthorized>
            <div class="card text-center">
                <div class="card-header">
                    No Autorizado
                </div>
                <div class="card-body">
                    <h5 class="card-title">Atención</h5>
                    <p>Debe iniciar sesion para poder acceder a estas opciones</p>
                    <a href="MenuConsultas" class="btn btn-primary">Ir al Menú</a>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated && TipoUsuario)
{
    <h3>Consulta Ventas</h3>
    <div class="row">
        <div class="col-1">
            <label>Filtro</label>
        </div>

        <div class="col-sm">
            <select @bind="opcion" class="form-control">
                <option value="0">TODO</option>
                <option value="1">Venta Id</option>
                <option value="2">Cliente Id</option>
                <option value="3">Empleado Id</option>
                <option value="4">Fecha de Venta</option>
                <option value="5">Usuario Id</option>
                <option value="6">Total</option>
            </select>
        </div>

        <div class="col-1">
            <label>Criterio</label>
        </div>

        <div class="col">
            <input type="text" @bind="criterio" class="form-control" />
        </div>

        <div class="col-lg">
            <button class="btn btn-primary" @onclick="MostrarDatos">Consultar</button>
        </div>
    </div>

    @if (lista == null)
    {
        <h3>No existen usuarios en la base de datos</h3>
    }
    else
    {
        <table class="table table-dark" style="margin-top: 5px;">
            <thead>
                <tr>
                    <th>Venta Id</th>
                    <th>Cliente Id</th>
                    <th>Empleado Id</th>
                    <th>Fecha Emision</th>
                    <th>Usuario Id</th>
                    <th>Sub Total/</th>
                    <th>Descuento/</th>
                    <th>ITBIS/</th>
                    <th>Total/</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var list in lista)
                {
                <tr>
                    <td>@list.VentaId </td>
                    <td>@list.ClienteId </td>
                    <td>@list.EmpleadoId </td>
                    <td>@list.FechaEmision</td>
                    <td>@list.UsuariosId</td>
                    <td>@list.SubTotal</td>
                    <td>@list.Descuento</td>
                    <td>@list.ITBIS</td>
                    <td>@list.Total</td>


                </tr>
                }
            </tbody>
        </table>
    }
}

@code {

    List<Ventas> lista = new List<Ventas>();
    private string opcion = "0";
    private string criterio = "";
    private bool TipoUsuario;

    protected override void OnInitialized()
    {
        lista = VentasBLL.GetList(x => true);
        TipoUsuario = GetAuthorization();

    }

    private void MostrarDatos()
    {
        int elegido = Convert.ToInt32(opcion);

        if (criterio.Trim().Length > 0 && criterio != "")
        {
            switch (elegido)
            {
                case 0:
                    {
                        lista = VentasBLL.GetList(x => true);
                    }
                    break;

                case 1:
                    {
                        int id;
                        id = Convert.ToInt32(criterio);
                        lista = VentasBLL.GetList(x => x.VentaId == id);
                    }
                    break;

                case 2:
                    {
                        int id;
                        id = Convert.ToInt32(criterio);
                        lista = VentasBLL.GetList(x => x.ClienteId == id);
                    }
                    break;

                case 3:
                    {
                        int id;
                        id = Convert.ToInt32(criterio);
                        lista = VentasBLL.GetList(x => x.EmpleadoId == id);
                    }
                    break;

                case 4:
                    {
                        //lista = VentasBLL.GetList(x => x.FechaEmision == criterio);
                    }
                    break;

                case 5:
                    {
                        int id;
                        id = Convert.ToInt32(criterio);
                        lista = VentasBLL.GetList(x => x.UsuariosId == id);
                    }
                    break;

                case 6:
                    {

                        decimal total;
                        total = Convert.ToDecimal(criterio);
                        lista = VentasBLL.GetList(x => x.Total == total);
                    }
                    break;
            }
        }
        else if (criterio == "")
        {
            lista = VentasBLL.GetList(x => true);
        }
        else
        {
            lista = VentasBLL.GetList(x => true);
        }
    }

    private bool GetAuthorization()
    {
        bool acceso;

        if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.IsInRole("Administrador")
            || AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.IsInRole("Empleado"))
            acceso = true;
        else
            acceso = false;

        return acceso;
    }

}